<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>Groups</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="/site.css" />
            <link
            rel="stylesheet"
            type="text/css"
            href="/groups.css" />
        <link
            rel="stylesheet"
            href="https://www.w3schools.com/w3css/4/w3.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        <script src="groups.js"></script>
    </head>

    <body>
        <%- include('navbar.ejs') %>
        <div class="center">
            <form
                action="/saveGroups"
                method="post"
                onsubmit="return validateTables()">
                <button
                    id="add-group-button"
                    onclick="addNewTable()">
                    Add Group
                </button>
                <br />
                <% for (const group of groups) { %>
                <br />
                <table
                    id="<%= group[1] %>"
                    ondragover="dragover(event)">
                    <tr>
                        <th colspan="2">
                            <input
                                type="text"
                                id="<%= group[1] %>_name"
                                class="tableTitle"
                                onkeypress="setWidthToContent(this);"
                                name="group"
                                value="<%= group[1] %>" />
                            <select
                                id="<%= group[1] %>_topic"
                                class="tableTitle"
                                name="topic">
                                <% for (const topic of topics) { %>
                                <option value="<%= topic %>" <% if (group[2] === topic) { %> selected <% } %>><%= topic %> </option> 
                                <% } %>
                            </select>
                            <button
                                id="delete <%= group[1] %>"
                                onclick="deleteTable(event)"
                                class="delete-button">
                                <i class="fa fa-trash"></i>
                            </button>
                        </th>
                    </tr>

                    <% for (const studentGroup of studentGroups) { %> <% if (studentGroup[1]===group[1]) { %>

                    <tr
                        draggable="true"
                        ondragstart="dragit(event)">
                        <td>
                            <input
                                class="student"
                                id="student"
                                name="student>"
                                value="<%= studentGroup[0] %>"
                                readonly />
                        </td>
                    </tr>
                    <% } %> <% } %>
                </table>
                <% } %>
                <br />
                <label
                    id="message"
                    style="color: red">
                </label>
                <div style="display: flex">
                    <input
                        style="flex: 1"
                        type="submit"
                        value="Save" />
                    <button
                        style="flex: 1"
                        onclick="cancelButtonClick(event);">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>
