<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Groups</title>
        <link rel="stylesheet" type="text/css" href="/site.css" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    </head>
    <div class="center">
        <% for (const group of groups) { %>
        <br />
        <table id="<%= group[1] %>" ondragover="dragover(event)">
            <tr>
                <th colspan="2">
                    <input type="text" id="<%= group[1] %>_name" class="tableTitle" onkeypress="setWidthToContent(this);" name="<%= group[1] %>_name" value="<%= group[1] %>" /> - 
                <select id="<%= group[1] %>_topic" class="tableTitle" name="<%= group[1] %>_topic">
                    <% for (const topic of topics) { %>
                        <option value="<%= topic %>" <% if (group[2] === topic) { %> selected <% } %>><%= topic %></option>
                    <% } %>
                </select>
                    <button id="delete <%= group[1] %>" onclick="deleteTable(event)" class="delete-button">
                        <i class="fa fa-trash"></i>
                    </button>
                </th>
            </tr>

            <% for (const studentGroup of studentGroups) { %> <% if (studentGroup[1]===group[1]) { %>

            <tr draggable="true" ondragstart="dragit(event)">
                <td><%= studentGroup[0] %></td>
            </tr>
            <% } %> <% } %>
        </table>
        <% } %>
        <br />
        <label id="message" style="color: red"> </label>
        <div style="display: flex">
            <form style="flex: 1" action="/saveGroups" method="post" onsubmit="return validateTables()">
                <input type="submit" value="Save" />
            </form>
            <form style="flex: 1" action="/groups" method="get">
                <input type="submit" value="Cancel" />
            </form>
        </div>
    </div>
    <script>
        let shadow;
        function dragit(event) {
            shadow = event.target;
        }

        function dragover(e) {
            let table = e.target.parentNode.parentNode;
            table.appendChild(shadow);
            checkTables();
        }

        function checkTables() {
            const tables = document.getElementsByTagName("table");
            for (let i = 0; i < tables.length; i++) {
                const numRows = tables[i].getElementsByTagName("tr").length - 1;
                const th = tables[i].getElementsByTagName("th")[0];
                if (numRows > 6 || numRows < 4) {
                    th.style.backgroundColor = "red";
                } else {
                    th.style.backgroundColor = "#04AA6D";
                }
            }
        }
        function validateTables() {
            const tables = document.getElementsByTagName("table");
            let isError = false;
            for (let i = 0; i < tables.length; i++) {
                const numRows = tables[i].getElementsByTagName("tr").length - 1;
                const th = tables[i].getElementsByTagName("th")[0];
                if (numRows > 6 || numRows < 4) {
                    th.style.backgroundColor = "red";
                    isError = true;
                } else {
                    th.style.backgroundColor = "#04AA6D";
                }
            }
            const message = document.getElementById("message");
            if (isError) {
                message.innerHTML =
                    "Error: Groups must be of size 4 to 6. <br>Check tables with red colors.<br /><br />";
                return false;
            } else {
                message.textContent = "";
                return true;
            }
        }

        function deleteTable(event) {
            const button = event.currentTarget;
            const table = button.closest("table");
            if (table.rows.length != 1) {
                return;
            }
            const br = table.previousElementSibling;
            if (br.nodeName === "BR") {
                br.parentNode.removeChild(br);
            }
            table.parentNode.removeChild(table);
            checkTables();
        }
        function setWidthToContent(element) {
            const value = element.value;
            let capitalCount = 0;
            for (let i = 0; i < value.length; i++) {
                if (value[i] >= 'A' && value[i] <= 'Z') {
                    capitalCount++;
                }
            }
            element.style.width = ((element.value.length + 1) * 8 + capitalCount*2.7) + 'px';
        }
        window.addEventListener('load', function() {
            const inputs = document.getElementsByTagName('input');
            for (let i = 0; i < inputs.length; i++) {
                const input = inputs[i];
                if (input.type === 'text' && input.classList.contains('tableTitle')) {
                    setWidthToContent(input);
                    input.addEventListener('input', function() {
                        setWidthToContent(this);
                    });
                }
            }
        });

    </script>
    <style>
        .delete-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            margin-right: 5px;
            background-color: transparent;
            border: none;
            font-size: 20px;
        }

        .delete-button:active i {
            color: white; /* color when pressed */
        }

        table th {
            position: relative;
        }
        .tableTitle {
            background-color: transparent;
            color: white;
            border: none;
        }
        input.tableTitle {
            min-width: auto;
            display: inline-block;
        }


    </style>
</html>
